@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}


ul {
    list-style: none;
    display: flex;
}

li {
    margin: 0 15px;
}

ul a {
    color: whitesmoke;
    text-decoration: none;
}

ul a:visited {
    color: whitesmoke;
    text-decoration: none;
}

a {
    color: rgb(121, 255, 121);
}

a:visited {
    color: rgb(121, 255, 121);
}

nav {
    display: flex;
    justify-content: space-between;
    margin: auto 30px;
}

ul li {
    color: whitesmoke;
    display: flex;
    margin: auto 30px;
    justify-content: space-between;
    position: relative;     
}

ul li::after {
    content: "";
    height: 3px;
    width: 0%;
    background: rgb(121, 255, 121);
    position: absolute;
    left : 0;
    bottom: -10px;
    transition: 0.5s;
}

ul li:hover::after {
    width: 100%;
}

#header-index {
    height: 100vh;    
    background: #1b2326 no-repeat bottom/cover url('images/greenbackground.jpg');
    background-size: 75%;
    background-attachment: scroll;
}

#header-index h1 {
    color: rgb(121, 255, 121);
}

#logoGT {
    height: auto; 
    width: auto; 
    max-width: 200px;
    max-height: 200px;
    margin-top: 10px;
    margin-left: 0px;  
}

#header-aboutus {
    height: 100vh;    
    background: #1B2326 no-repeat bottom/cover url('images/greenbackground2.jpg');
    background-size: 75%;
    background-attachment: scroll;
}

#header-aboutus h2 {
    color: rgb(121, 255, 121);
}

#header-getstarted {
    height: 100vh;    
    background: #1B2326 no-repeat bottom/cover url('images/greenbackground2.jpg');
    background-size: 75%;
    background-attachment: scroll;
}

#header-getstarted h2 {
    color: rgb(121, 255, 121);
}

#header-learnmore {
    height: 100vh;    
    background: #1B2326 no-repeat bottom/cover url('images/greenbackground2.jpg');
    background-size: 75%;
    background-attachment: scroll;
}

#header-learnmore h2 {
    color: rgb(121, 255, 121);
}

#header-contactus {
    height: 100vh;    
    background: #1B2326 no-repeat bottom/cover url('images/greenbackground.jpg');
    background-size: 75%;
    background-attachment: scroll;
}

#header-contactus h2 {
    color: rgb(121, 255, 121);
}

.index-content {
    color: whitesmoke;
    max-width: 400px;
    font-size: 25px;
    align-self: auto;
    padding: 30px;
    margin-top: 10px;
    margin-left: 130px;
    text-align: left;    
}

.aboutus-content {
    color: whitesmoke;
    max-width: 1000px;
    font-size: 20px;
    align-self: auto;
    padding: 30px;
    margin-top: 30px;
    margin-left: 130px;
    margin-right: 250px;  
}

.getstarted-content {
    color: whitesmoke;
    max-width: 1000px;
    font-size: 17px;
    align-self: auto;
    padding: 30px;
    margin-top: 0px;
    margin-left: 130px; 
    margin-right: 0px; 
}

.learnmore-content {
    color: whitesmoke;
    max-width: 1000px;
    font-size: 18px;
    align-self: auto;
    padding: 30px;
    margin-top: 30px;
    margin-left: 250px;
}

.contactus-content {
    color: whitesmoke;
    max-width: 1000px;
    font-size: 18px;
    align-self: auto;
    padding: 30px;
    margin-top: 30px;
    margin-left: 250px;
}

.btn{
    font-size: 20px;
    font-weight: bold;
    border: 2px solid rgb(121, 255, 121);
    border-radius: 8px;
    padding:10px;
    cursor: pointer;
    display:inline-block;
    text-decoration: none;
}

.btn:hover{
    background: rgb(68, 77, 68);
}

.btn-green:active{
    position:relative;
    top:5px;
}

